:root {
  --cicero-cloud-white: #ffffff; /* White */

  --cicero-cloud-blue-light: #7bc6ff; /* Blue Light */
  --cicero-cloud-blue: #0078d3; /* Blue */
  --cicero-cloud-blue-gradient: #005193; /* Blue Gradient */

  --cicero-cloud-green-light: #c1ff7d; /* Green Light */
  --cicero-cloud-green: #7ed321; /* Green */
  --cicero-cloud-green-dark: #4a8e00; /* Green Dark */

  --cicero-cloud-yellow-light: #ffce7c; /* Yellow Light */
  --cicero-cloud-yellow: #f5a623; /* Yellow */
  --cicero-cloud-yellow-dark: #955d00; /* Yellow Dark */

  --cicero-cloud-red-light: #ffe4e8; /* Red Light */
  --cicero-cloud-red: #d0021b; /* Red */
  --cicero-cloud-red-dark: #830010; /* Red Dark */

  --cicero-cloud-grey-light-light: #f2f5f7; /* Light Light Grey */
  --cicero-cloud-grey-light: #bcc4cc; /* Light Grey */
  --cicero-cloud-grey: #767676; /* Grey */
  --cicero-cloud-dark-grey: #4a4a4a; /* Dark Grey*/
}
